<div class="panel-body">
	<p class="info">
		© Copyright 2015 by Adam Theodor Högberg.<br>
		Contact <a href="mailto:athogberg@gmail.com">mail</a>.<br>
		<a href="/feed.atom" rel="alternate" title="Theo Hogberg">Atom</a>, 
		<a href="http://www.devtacular.com/utilities/atomtorss/?url=http%3a%2f%athogberg.herokuapp.com%2ffeed.atom" rel="alternate" title="Theo Hogberg">RSS</a>.<br>
		</p>
</div>