<!DOCTYPE html>
<html>
<head>

	<% include partials/head.ejs %>

</head>

<body class="center">

	
	<% include partials/nav.ejs %>


	<div class="panel-body" id="content">

		<h3>404 &#8212 Page not found</h3>

	</div> <!-- Content End -->

	<% include partials/copystuff.ejs %>

<!-- 	<script type="text/javascript">
		$("#sketch").append("<canvas class='panel panel-default center' style='box-shadow: 3px 5px 6px #777; width : 100px;' data-processing-sources='/sketches/processing.pde' /></canvas>");
	</script> -->

	<script type="text/javascript" src="/js/ui.js"></script>

</body>
</html>