<!DOCTYPE html>
<html>
<head>

	<% include partials/head.ejs %>

</head>

<body class="center">

	<% include partials/nav.ejs %>

	<div class="panel-body" id="content">

			<br>
			<div class="panel panel-default" style="background-color:rgba(202,202,202,0.3);">
				<div class="panel-body">

					<h3>Greetings to you!</h3>
					<p>I'm a software developer originating from Stockholm and the surrounding countryside in Sweden. I mainly write about web development on this site but I somtimes dive into subjects like color theory, system design and game design. I usually try to focus having samples of code since I belive that's a good way to get better at understanding programming as a skill. I also tend to avoid talking code. The entire site is a custom express/node application with entries mostly written in markdown. You can find the source code <a href="https://github.com/thoggy/nodeapp">here</a>.</p>
					
				</div>
			</div>

	</div> <!-- Content End -->
	
	<% include partials/copystuff.ejs %>

<!-- 	<script type="text/javascript">
		$("#sketch").append("<canvas class='panel panel-default center' style='box-shadow: 3px 5px 6px #777; width : 100px;' data-processing-sources='/sketches/processing.pde' /></canvas>");
	</script> -->

</body>
</html>