<!DOCTYPE html>
<html>
<head>

	<% include partials/head.ejs %>

</head>

<body class="center">

	
	<% include partials/nav.ejs %>


	<div class="panel-body" id="content">

			<br>
			<div class="panel panel-default" style="background-color:rgba(202,202,202,0.3);">
				<div class="panel-body">
					
					<p class="tags">tagged as 
						<% post.tags.forEach(function(tag,idx,array) { %>
						<a href="/tags/<%= tag %>"><%= tag %></a>
						<% if (idx!==array.length-1) { %>,
							<% } %>
						<% }); %> 
					</p>		
					<p class="date"><%= post.date %></p>
					
				</div>
			</div>

	</div> <!-- Content End -->

	
	<% include partials/copystuff.ejs %>


<!-- 	<script type="text/javascript">
		$("#sketch").append("<canvas class='panel panel-default center' style='box-shadow: 3px 5px 6px #777; width : 100px;' data-processing-sources='/sketches/processing.pde' /></canvas>");
	</script> -->

	<script type="text/javascript" src="/js/ui.js"></script>

</body>
</html>