<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		// random starcraft reference script
		var scbw = [ "WeMade FOX", "BoxeR", "ElkY", "Bisu", "Jaedong", "Evil Geniuses", "SleepingDrone", "SlayerS_`BoxeR`", "n.Die_Jaedong", "Flash", "By.FlaSh", "Bisu[Shield]", "[Red]NaDa", "Sea.s2", "CJ ENTUS", "SK Telecom T1", "KT Rolster", "IPXZerg", "sAviOr[gm]", "firebathero", "eVERLAST", "Androide", "IdrA[Media]", "Grrrr...", "iloveoov" ]
		document.title = scbw[Math.ceil(Math.random() * scbw.length-1)];
	</script>


	<title></title>
	<script type="text/javascript" src="http://processingjs.org/js/processing.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

	<script type="text/javascript" src="/js/globals.js"></script>

	<script type="text/javascript" src="/bootstrap-dist/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/bootstrap-dist/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/bootstrap-dist/css/bootstrap-theme.min.css'/>
	<link href="/css/extras.css" rel="stylesheet">
	<style type="text/css">

		.center {
			margin: 0 auto;
			display: block;
		}

/*		.navbar-nav.nav-justified > li{
		    float:none;
		}*/

	</style>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top"  role="navigation">

		<div class="container"> 

			<!-- Brand and toggle get grouped for better mobile display -->

			<div class="navbar-header" >
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav nav-justified">     
					<li class="dropdown active">
						<a href="/#about" class="" >About</a>
					</li>

					<li class="dropdown" >
						<a href="/#interactive" class="" >Interactive</a>
					</li>

					<li class="dropdown" >
						<a href="/#design" class="" >Design</a>
					</li>

					<li class="dropdown" >
						<a href="/#games" class="" >Games</a>
					</li>

					<li class="dropdown" >
						<a href="/#blog" class="" >Blog</a>
					</li>

				</ul>
			</div>
		</div>
		<!-- Navbar end -->
	</nav>

	<div class="container">
	<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

		<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
			<h1 class="text-center">Hello there, take a  processingjs example</h1>
			<h1 class="text-center">Hello there, take a  processingjs example</h1>
			<h1 class="text-center">Hello there, take a  processingjs example</h1>
			<h2 class="text-center">Hello there, take a  processingjs example</h2>
			<h2 class="text-center">Hello there, take a  processingjs example</h2>
			<h2 class="text-center">Hello there, take a  processingjs example</h2>
			<h3 class="text-center">Hello there, take a  processingjs example</h3>
			<h3 class="text-center">Hello there, take a  processingjs example</h3>
			<h3 class="text-center">Hello there, take a  processingjs example</h3>
			<!-- <div id="sketch" class="center"></div> -->
			<div class="panel-body">
			<p>He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once. He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the wood and river in quedtion were.</p>
			<p>He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once. He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the wood and river in quedtion were.</p>
			<p>He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once. He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the wood and river in quedtion were.</p>
			<p>THIS IS A LOT OF FUCKING TEXT</p>
			</div>
		</div>
	</div>


		<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
			<h3 class="text-center">Hello there, take a  processingjs example</h3>
			<div class="panel-body">
			</div>
		</div>

		<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
			<h3 class="text-center">Hello there, take a  processingjs example</h3>
			<div class="panel-body">
			</div>
		</div>

	</div>

<script type="text/javascript">$("#sketch").append("<canvas class='panel panel-default center' style='box-shadow: 3px 5px 6px #777;' data-processing-sources='/sketches/processing.pde' /></canvas>");</script>
</body>
</html>