<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale = 0.6, maximum-scale = 2.0" />
	<title></title>
	<script type="text/javascript" src="http://processingjs.org/js/processing.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/js/globals.js"></script>
	<script type="text/javascript" src="/bootstrap-dist/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/bootstrap-dist/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/bootstrap-dist/css/bootstrap-theme.min.css'/>
	<link href="/css/extras.css" rel="stylesheet">
	<style type="text/css">

	
	</style>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="container"> 

			<!-- Brand and toggle get grouped for better mobile display -->

			<div class="navbar-header " >
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav nav-justified nav-pills ">     
					<li class="dropdown">
						<a href="/#about" class="" >About</a>
					</li>

					<li class="dropdown" >
						<a href="/#interactive" class="" >Interactive</a>
					</li>

					<li class="dropdown" >
						<a href="/#design" class="" >Design</a>
					</li>

					<li class="dropdown" >
						<a href="/#games" class="" >Games</a>
					</li>

					<li class="dropdown" >
						<a href="/#home" class="" >Home</a>
					</li>

				</ul>
			</div>

		<!-- Container -->
		</div>
		
	<!-- Navbar end -->
	</nav>

	<!-- Button trigger modal -->
	<div class="spacer"></div>

	<!-- Sketch Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div id="sketch"></div>
			</div>
		</div>
		</div>
	</div>

	<a name="about"></a>
	<div class="anchorspace"></div>
	<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
		<h1 class="text-center">About!</h1>
		<div class="panel-body">
			<p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<div class="spacer"></div>

	<a name="interactive"></a>
	<div class="anchorspace"></div>
	<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
		<h1 class="text-center">Interactive!</h1>
		<div class="panel-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Push the button to see an animation</p>
		<button class="btn btn-default center" data-toggle="modal" data-target="#myModal">
		Animation!
		</button>
		</div>
	</div>

	<div class="spacer"></div>

	<script type="text/javascript">
		$("#sketch").append("<canvas class='panel panel-default center' style='box-shadow: 3px 5px 6px #777; width : 100px;' data-processing-sources='/sketches/processing.pde' /></canvas>");
	</script>

</body>
</html>