<!DOCTYPE html>
<html>
<head>
	<title>teh?</title>
	<script type="text/javascript" src="http://processingjs.org/js/processing.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/css/bootstrap-theme.min.css'/>
	<link href="/css/extras.css" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
		<div class="container">		
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header" >
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand " href="/">Adam TH</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">		

					<li class="dropdown" >
						<a href="/about" class="" >ABOUT</a>
					</li>

					<li class="dropdown" >
						<a href="/about" class="" >PROCESSING</a>
					</li>

					<li class="dropdown" >
						<a href="/about" class="" >THREE</a>
					</li>

					<li class="dropdown" >
						<a href="/about" class="" >GAMES</a>
					</li>

					<li class="dropdown" >
						<a href="/about" class="" >BLOG</a>
					</li>


				<!-- <li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" >links<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="https://github.com/asmodeus">github</a></li>
							<li><a href="http://codeymodey.tumblr.com/">tumblr</a></li>
						</ul>
					</li>  -->

				</ul>
			</div>
		</div>
		<!-- Navbar end -->
	</nav>

	<% include text-content.ejs %>

</body>
</html>