<!DOCTYPE html>
<html>
<head>

	<% include partials/head.ejs %>

</head>

<body class="center">
	
	<% include partials/nav.ejs %>

	<div class="panel-body" id="content">

			<br>
			<div class="panel panel-default" style="background-color:rgba(202,202,202,0.3);">
				<div class="panel-body">
					
					<h3 class="tags">
					<% for (var t in data) { %>
						<a class="tag" href="/tags/<%= t %>" style="font-size:<%=data[t].num*1%>rem;"><%=t%></a>&nbsp;
					<% } %>
					</h3>		

				</div>
			</div>

	</div> <!-- Content End -->

	<% include partials/copystuff.ejs %>

<!-- 	<script type="text/javascript">
		$("#sketch").append("<canvas class='panel panel-default center' style='box-shadow: 3px 5px 6px #777; width : 100px;' data-processing-sources='/sketches/processing.pde' /></canvas>");
	</script> -->


</body>
</html>