

<% for (var i=0; i<viewdata.length; i++) { %>	
<div class="container" id="content<%viewdata[i]['title']%>">
	<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
		<div id="sketch" class="panel-body center" style="padding: 2em 6em;">

			<small><%= viewdata[i]['post_date'].toLocaleDateString() %></small>
			
			<% if (viewdata[i]['title'] !== null) { %>
				<h1 class="text-center"><%= viewdata[i]['title'] %></h1>
			<% } %>
			
			<!-- ingresses are optional -->
			<% if (viewdata[i]['ingress'] !== null) { %>
				<h3 class="text-center"><%= viewdata[i]['ingress'] %></h3>
			<% } %>

			<% if ( viewdata[i]['resource_path'] !== 'none') { %>
			<canvas class="panel panel-default center" style="box-shadow:  3px 5px 6px #777;" data-processing-sources="/sketches/test.pde"/></canvas>
			<% } %> 

			<p style="padding: 2em;"> <%= viewdata[i]['text_content'] %></p>

		</div>
	</div>
</div>

<% } %>