	<div class="container" id="content">	
		<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
			<div class="panel-body">
				<h2 class="text-center"><%= title %></h1>
				<h3 class="text-center"><%= ingress %></h3>
				<p> <%= content %> </p>
				<!-- <canvas width="100" height="100"></canvas> -->
			</div>
		</div>
	</div>