body {
	min-height: 2000px;
	margin: 0;
	padding: 80px 100px;
	font: 14px "Helvetica Neue", "Lucida Grande", "Arial";
	background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
	background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
	background-repeat: no-repeat;
	color: #555;
	-webkit-font-smoothing: antialiased;
}

.navbar-static-top {
	margin-bottom: 19px;
}

a {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}


.navbar-extra {
	margin: 1em 1em 1em 1em; 
}