@font-face { 
	font-family: "Higher"; src: url('./fonts/Higher/Higher.otf'); 
}

#element::-webkit-scrollbar { 
    display: none; 
}

/*force scrollbar*/
html {
  overflow-y: scroll; 
}

body {
  margin: 0;
  padding: 4.4em;
  font: 15px "Georgia", "Times New Roman", "UnBatang"
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
}

canvas {
  margin: 1em auto;
  display: block;
  width: 100%;
  border-radius: 5px;  
  background-color: black;

}

li:hover {
  -webkit-transition:.5s;
  text-decoration: underline;
}

.anchorspace {
  padding-bottom: 4em;
}

.navbar-nav a {
  font-family: "Roboto Slab";
  font-size: 1.48em;
  display:inline-block; 
  vertical-align:bottom;
}

body {
  min-width: 640px;
  max-width: 960px;
}

h3 {
  font-family: "Roboto Slab";
  font-size: 1.5em;
  margin-top: 1em;
}

img {
  width: 100%;
}

h2, h1 {
  font-family: "Roboto Slab";
  font-size: 2em;  
  margin-top: 1em;
}

p, button {
  font-family: "Roboto Slab";
  line-height: 1.2667;
  font-size: 1em;
  margin-top: 1em;
}


canvas {
  margin-top: 2em;
}

div .info {
  font-size: 1em;
  text-align: left;
}

.tags {
  max-width:inherit;
}

.tag {
  text-decoration: underline;
}

.center {
	margin: 0 auto;
	display: block;
}

.navbar-nav.nav-justified > li{
  float:none;
}

.container-fluid {
  min-width: 24em;
}

.nox {
  overflow-x:none;
}

.tags {
	overflow-x:none;
}

.panel-body p {
  padding-left:1em; 
  padding:0.5em 0; 
}

/* unset bs3 setting */
.modal-open {
 overflow: auto; 
}
