@font-face { 
	font-family: "Higher"; src: url('./fonts/Higher/Higher.otf'); 
}

body {
  /*min-height: 2000px;*/
  margin: 0;
  padding: 4.4em;
  font: 15px "Georgia", "Times New Roman", "UnBatang"
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
}

a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

li:hover {
  text-decoration: underline;
}

.anchorspace {
  padding-bottom: 4em;
}

.navbar-nav a {
  font-family: "Roboto Slab";
  font-size: 1.48em;
  display:inline-block; 
  vertical-align:bottom;
}

body {
  min-width: 640px;
  max-width: 960px;
}

h3, h2, h1 {
  font-family: "Roboto Slab";
  letter-spacing: 1px; 
}

p, button {
  font-family: "Roboto Slab";
  font-size: 1.3em;
  line-height: 1.2667;
}

div .info {
  font-size: 1.3em;
  text-align: left;
}

.tags {
  max-width:inherit;
}

.tag {
  text-decoration: underline;
}

.center {
	margin: 0 auto;
	display: block;
}

.navbar-nav.nav-justified > li{
  float:none;
}

.container-fluid {
  min-width: 24em;
}

.nox {
  overflow-x:none;
}

.tags {
	overflow-x:none;
}

.panel-body p {
  margin: 0 0;
  padding-left:1em; 
  padding:0.5em 0; 
}

/* unset bs3 setting */
.modal-open {
 overflow: auto; 
}

.date {
 font-size: 1.1em;
}